$shadow-box:  0px 13px 18px 0px rgba(0, 0, 0, 0.5);
$primary-color: #0476D9;
$dark-primary: #023E73;
$light-primary: #05DBF2;
$green-color: #04BFAD;
$lemon-color: #95D904;
$light-color: #f6f9ff;
$text-color: #444444;
